.dropdown-element {
    padding: .25rem .5rem;
    font-size: .9375rem;
    font-weight: 300;
    color: #000;
}
.navbar .dropdown-menu a {
    padding: .25rem .5rem;
}

.dropdown .dropdown-menu {
    padding: .5rem;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #4285f4;
    border-radius: .125rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.1s linear;
    margin-left: 0;
    color: #fff !important;
}