body {
    background: rgb(5,89,3);
    background: linear-gradient(180deg, rgba(5,89,3,1) 0%, rgba(9,121,14,1) 35%, rgba(0,212,255,1) 100%);
    margin: 0;
    height: 100%;
}

html { height: 100%; }

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.02); }