<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/mainLayout">
<head>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="/css/quizzes.css" rel="stylesheet">

    <title>My Quizzes</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="mb-3">My Quizzes
        <div class="dropdown d-inline float-right">

            <button type="button" class="btn btn-sm px-2 ml-0 z-depth-0 pt-0" style="font-size: 1.05rem; background-color:transparent"
                    data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" data-toggle="modal"
                   data-target="#importModal"><i class="fas fa-file-import mr-1"></i> Import Quizzes
                </a>
                <a class="dropdown-item" th:href="@{/quizzes/export}"><i class="fas fa-file-export mr-1"></i> Export Quizzes</a>
            </div>
        </div>
        <a th:href="@{/quizzes/new}" class="btn btn-sm btn-success float-right"><i
                class="fas fa-plus mr-1"></i> Create Quiz</a>
    </h1>
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.importSuccess}">
        <strong>Success!</strong> Your quizzes were imported!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div data-bind="foreachInit: { data: quizzes, createElement: addQuiz }">
        <div class="card mb-3" data-template style="height: 120px;"></div>

        <div class="card mb-3 quizCard grow" th:each="quiz: ${quizzes}" th:data-quiz-id="${quiz.id}" data-init
             data-bind="init, attr: { 'data-quiz-id': id }"
             th:onclick="|window.location='/quizzes/'+ ${quiz.id}+'/details'|">
            <div class="row no-gutters h-100">
                <div class="col-2 p-1 h-100">
                    <img alt="Question image" class="img-fluid h-100 w-100"
                         th:src="@{${quiz.image?.uuid} ?'/images/'+${quiz.image?.uuid.toString()} : '/media/no-image.jpg'}"
                         src="/media/no-image.jpg" style="object-fit: cover;">
                </div>
                <div class="col-10">
                    <div class="position-absolute" style="right: 0;">
                        <a type="button" class="btn btn-sm btn-primary px-2 mx-0"
                           th:href="@{/quizzes/{id}/edit(id=${quiz.id})}"><i class="fas fa-edit"
                                                                             aria-hidden="true"></i>
                        </a>
                        <a type="button" class="btn btn-sm btn-primary px-2 ml-0"
                           data-bind="click: $parent.deleteQuiz, clickBubble: false"><i
                                class="fas fa-trash"
                                aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="d-flex flex-column justify-content-end h-100">
                        <div class="card-body p-3">
                            <h4 class="card-title" data-bind="init, text: title" th:text="${quiz.title}">Quiz
                                title</h4>
                            <!--                        <p class="card-text">This is a</p>-->
                        </div>
                        <p class="card-footer mb-0"><small class="text-muted float-right" th:text="${'Last updated: ' + {quiz.lastModified}}">Last updated 3 mins
                            ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal" tabindex="-1" role="dialog" id="importModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Import Quiz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">

                        <div class="custom-file">
                            <input type="file" accept="application/json" class="custom-file-input"
                                   id="import-quiz-file">
                            <label class="custom-file-label" for="import-quiz-file">Choose image</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" id="import-button">Import</button>
                    <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block layout:fragment="scripts">

    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js'></script>
    <script type='text/javascript'
            src='https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js'></script>
    <script type='text/javascript'
            src='https://cdnjs.cloudflare.com/ajax/libs/knockout-pre-rendered/0.11.0/knockout-pre-rendered.min.js'></script>
    <script type='text/javascript'
            src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>
    <script type='text/javascript' src='/js/quizzes.js'></script>
</th:block>
</body>
</html>