<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/mainLayout" th:with="currentPage='home'">
<head>
    <meta charset="UTF-8">
    <title th:text="${quiz.title}"></title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/quizzes.css">
</head>
<body>
<div class="mt-3 mb-5 z-depth-1 pt-3 pr-5 pb-4 pl-3 mx-3" layout:fragment="content">

    <div class="row">

        <div class="col-3">
            <div class="card mt-3 h-100">
                <img class="card-img-top"
                     th:src="@{${quiz.image?.uuid} ?'/images/'+${quiz.image?.uuid.toString()} : '/media/no-image.jpg'}"
                     alt="Quiz image">
                <div>

                    <div class="position-absolute" style="right: 0;">
                        <a type="button" class="btn btn-sm btn-primary px-2 mx-0"
                           th:href="@{/quizzes/{id}/edit(id=${quiz.id})}"><i class="fas fa-edit"
                                                                             aria-hidden="true" data-toggle="tooltip"
                                                                             data-placement="bottom"
                                                                             title="Edit Quiz"></i>
                        </a>

                        <!--                        TODO-->
                        <a type="button" class="btn btn-sm btn-primary px-2 mx-0" data-toggle="tooltip"
                           data-placement="bottom" title="Delete Quiz"><i
                                class="fas fa-trash"
                                aria-hidden="true"></i>
                        </a>
                        <div class="dropdown d-inline">

                            <button type="button" class="btn btn-sm btn-primary px-2 ml-0" style="font-size: 1.05rem"
                                    data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" th:href="@{/quizzes/{id}/export(id=${quiz.id})}">Export this
                                    Quiz</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${quiz.title}">Quiz title</h5>
                    <a th:href="@{/quizzes/play?quizId={id}(id=${quiz.id})}" class="btn btn-success btn-sm px-3 mx-0"><i class="fas fa-play mr-1"></i> Play</a>
                </div>
            </div>
        </div>
        <div class="col-9">
            <a class="d-block" data-toggle="collapse" th:each="question: ${quiz.questions}"
               th:data-target="${'#collapse'+question.id}" style="user-select: none;">

                <div class="card mt-3 h-100">
                    <div class="row no-gutters h-100">

                        <div class="col-10">
                            <div class="d-flex flex-column justify-content-end h-100">
                                <div class="card-body p-3">
                                    <h5 class="card-title" th:text="${'Question '+(questionStat.index+1)}">Quiz
                                        title</h5>
                                    <p class="card-text" th:text="${question.text}">First question</p>
                                </div>


                            </div>
                        </div>
                        <div class="col-2 p-1">
                            <img alt="Question image" class="img-fluid w-100 h-100" th:if="${question.image?.uuid}"
                                 th:src="@{'/images/' + ${question?.image.uuid?.toString()}}"
                                 src="/media/no-image.jpg" style="object-fit: cover;">
                            <img alt="Question image" class="img-fluid w-100 h-100" th:unless="${question.image?.uuid}"
                                 src="/media/no-image.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="collapse" th:id="${'collapse'+question.id}">
                        <div class="card-body mb-0">
                            <p class="card-text" th:each="choice: ${question.choices}" style="font-size: 1.08rem;">
                                [[${choice.text}]]
                                <span th:if="${choice.correct}" class="float-right"
                                      style="color: seagreen; font-size: 1.3rem;">
                      <i class="fas fa-check"></i>
                      </span>
                                <span th:if="${!choice.correct}" class="float-right"
                                      style="color: red; font-size: 1.4rem;">
                      <i class="fas fa-times"></i>
                      </span>
                            </p>

                        </div>
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</th:block>

</body>
</html>