<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/mainLayout">
<head>
    <title>Edit quiz</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div layout:fragment="content">
    <h1>Edit quiz
        <button data-bind="click: save" class="btn btn-sm btn-success float-right"><i class="fas fa-save mr-1"></i> Save
        </button>
        <a th:href="@{/quizzes}" class="btn btn-sm btn-danger float-right"><i class="fas fa-sign-out-alt mr-1"></i> Exit
        </a>
        <button data-bind="click: addQuestion" class="btn btn-sm btn-primary float-right"><i class="fas fa-plus mr-1"></i> Add Question
        </button>
    </h1>
    <div data-bind="with: quiz">
        <div class="form-group row">
            <div class="offset-2 col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Quiz Title</div>
                    </div>
                    <input id="quizTitle" name="quizTitle" placeholder="My Quiz"
                           type="text" class="form-control" data-bind="value: title">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-4">

                <img
                        alt="Quiz image" class="img-fluid w-100"
                        data-bind="attr: {src: imageUrl() || '/media/no-image.jpg'}">
                <!--                            <input data-bind="event: {change: $root.fileUpload}" type="file" accept="image/*">-->
                <div class="input-group">

                    <div class="custom-file">
                        <input type="file" accept="image/*" class="custom-file-input"
                               id="inputGroupFile02"
                               aria-describedby="inputGroupFileAddon01"
                               data-bind="event: {change: $root.fileUpload}">
                        <label class="custom-file-label" for="inputGroupFile02">Choose image</label>
                    </div>
                </div>
            </div>
        </div>

        <div id="questionList" th:data-quiz-uuid="${quiz.uuid}" th:data-quiz-id="${quiz.id}"
             data-bind="foreach: questions">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="position-absolute" style="right: 0; top: 0;">
                        <a type="button" class="btn btn-sm btn-danger px-2 ml-0"
                           data-bind="click: $root.deleteQuestion"><i
                                class="fas fa-trash"></i>
                        </a>
                    </div>
                    <div class="form-group m-0">
                        <div class="offset-2 col-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Question Title</div>
                                </div>
                                <input placeholder="My question"
                                       type="text" class="form-control" data-bind="value: question">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Choices</h5>
                    <div class="row">
                        <div class="col-9">
                            <form>

                                <!-- ko foreach: choices -->
                                <div class="form-group row">
                                    <div class="col-10">
                                        <input placeholder="Answer 1" type="text"
                                               class="form-control"
                                               data-bind="value: choice, attr: {placeholder: placeholder}">

                                    </div>
                                    <div class="col-2">
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox"
                                                   class="custom-control-input"
                                                   data-bind="checked: correct, attr: { id: 'checkbox' + $parentContext.$index() + $index()}">
                                            <label data-bind="attr: { for: 'checkbox' + $parentContext.$index() + $index()}"
                                                   class="custom-control-label">Correct</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->

                            </form>


                        </div>
                        <div class="col-3">

                            <img
                                    alt="Question image" class="img-fluid w-100"
                                    data-bind="attr: {src: imageUrl() || '/media/no-image.jpg'}">
                            <!--                            <input data-bind="event: {change: $root.fileUpload}" type="file" accept="image/*">-->
                            <div class="input-group">

                                <div class="custom-file">
                                    <input type="file" accept="image/*" class="custom-file-input"
                                           id="inputGroupFile01"
                                           aria-describedby="inputGroupFileAddon01"
                                           data-bind="event: {change: $root.fileUpload}">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button data-bind="click: addQuestion" class="btn btn-sm btn-primary "><i class="fas fa-plus mr-1"></i> Add Question
    </button>
    <button data-bind="click: save" class="btn btn-sm btn-success float-right"><i class="fas fa-save mr-1"></i> Save
    </button>
    <a th:href="@{/quizzes}" class="btn btn-sm btn-danger float-right"><i class="fas fa-sign-out-alt mr-1"></i> Exit
    </a>

</div>

<th:block layout:fragment="scripts">

    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js'></script>
    <script type='text/javascript'
            src='https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js'></script>

    <script type='text/javascript'
            src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>
    <script src="/js/editor.js"></script>
</th:block>
</body>
</html>